header{
    background: #85d4b7;
}

footer{
    background: #a2f3d5;
}
.main{
    background: #6cac94;
}

.color {
    background: #612c83;
}

html {
    box-sizing: border-box;
}

input {
        width: 100%;
        padding: 10px;
        outline: 0;
}

input.invalid {
        border-color: #DD2C00;
}

#notify.error {
    background-color: #DD2C00;
}