@media (min-width: 768px) {
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #a1c45a;

}


#contenedor {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    padding: 30px;
    background-color: #fff9e0;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
}


#presentacion {

    display: flex;
    align-items: center;
}

#presentacion img {
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

#textos {
    width: 70%;
}
}


@media (max-width: 767px) {

    body {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #a1c45a;
    
    }
    
    
    #contenedor {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 80%;
        padding: 30px;
        background-color: #fff9e0;
        border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
    }
    
    
    #presentacion {
    
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    #presentacion img {
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
    }
    
    #textos {
        width: 70%;
    }

}