

@media (max-width: 767px) {
* {
    margin: 0;
    padding: 0;
  
}

img {
    width: 100%;
}


header {
    display: flex;
    background: #85d4b7;
    width: 100%;
    flex-flow: column;
    align-items: center;
}

header img {

    width: 85%;
    margin: 10px;
}


#menu-principal {
    margin-top: 2px;
    overflow: hidden;
    width: 100%;
}



#menu-principal ul {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#menu-principal ul li {
    display: flex;
    flex-flow: column;
    list-style: none;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    width: 100%;
    background: #6cac94;
}

#menu-principal ul li a {
    text-decoration: none;
    color: white;
    background: #6cac94;
    width: 100%;
    height: 100%;
    text-align: center;
}


#contenedor-central {
    width: 100%;
    background: #85d4b7;
}

#redes-sociales {
    display: flex;
    justify-content: center;
    width: 100%;
}

#redes-sociales a {
    margin: 10px;
}


#contenido {
    display: flex;
    flex-flow: column;
}

#part1 article {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin: 10px;
}

#part1 article img {
    width: 60%;
}


.titulo-arituclo {
    margin-bottom: 10px;
}

.subtitulo-articulo {
    font-size: 12px;
    color: #848484;
    margin-bottom: 15px;
}

.cuerpo-articulo {
    color: #848484;
    margin-bottom: 20px;
}

.separador {
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 50px;
    margin-bottom: 15px;
    
}


#part2 article {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 10px;
}

#part2 article img {
    width: 60%;
}

#part2 article a {

    border-style: solid;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-width: 2px;
    border-color: black;

}

#part3 {
    overflow: hidden;
    width: 100%;
    display: flex;
    background: #85d4b7;
    align-content:  space-between;
}

#imagenes1 {
    display: flex;
    flex-flow: column;
    margin: 5px;
}

#imagenes2 {
    display: flex;
    flex-flow: column;
    margin-top: 5px;
}

#imagenes3 {
    display: flex;
    flex-flow: column;
    margin: 5px;
}

footer {
    height: 20px;
    background-color: #BDBDBD;
    padding: 10px;
}


	#contenedor-info {
		display: flex;
		margin-top: 10px;
		flex-flow: column;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 10px;
		justify-content: center;
		align-items: center;
		color: white;
		flex-wrap: wrap;
	}

}
/*ESTILOS PANTALLA GRANDE*/
@media (min-width: 768px) {

* {
    margin: 0;
    padding: 0;
}

    header {
        display: flex;
        background: #85D4B7;
        width: 100%;

    }
	
	header img {
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}

    header nav {

        margin-top: 20px;
        margin-left: 100px;
    }
    
    header nav ul {
        list-style: none;
        display: flex;
        
        
    }

    header nav ul li a {

        color: white;
        text-decoration: none;
        margin: 10px;
    }

	
	#contenedor-info {
		display: flex;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 10px;
		justify-content: space-between;
		align-items: center;
		color: white;
	}
	


    #part3 {
        overflow: hidden;
        width: 100%;
        display: flex;
        background: #85d4b7;
        align-content:  space-between;
    }
    
    #imagenes1 {
        display: flex;
        flex-flow: column;
        margin: 5px;
    }
    
    #imagenes2 {
        display: flex;
        flex-flow: column;
        margin-top: 5px;
    }
    
    #imagenes3 {
        display: flex;
        flex-flow: column;
        margin: 5px;
    }
    

    #imagenes1 img {
        width: 100%;

    }

    #imagenes2 img {
        width: 100%;
    }

    #imagenes3 img {
        width: 100%;
    }


    #contenedor-central {
        display: flex;
        flex-direction: column;
        background-color: #6DCCAA;
        height: 10%;

    }
	
	#contenido {
		display: flex;
		flex-flow: column;
		
	}
	
	#contenido #articulos {
		display:flex;
		padding: 10px;
		margin-bottom: 30px;
		
	}
	
	#part1 {
		margin-right: 15px;
	}
	
		#part2 {
		margin-left: 15px;
	}
	
	#part1 article{
		display:flex;
		flex-flow: column;
		align-items: flex-end;
	}
	
		#part1 article img{
			width: 50%;
	}
	
			#part1 article p{
			text-align:right;
	}
	
			#part2 article img{
			width: 30%;
	}
	
		#part2 article{
		display:flex;
		flex-flow: column;
		align-items: flex-start;
	}
	
	#part2 article a {

    border-style: solid;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-width: 2px;
    border-color: black;

}
	.separador {
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 50px;
    
}

footer {
    height: 100%;
    background-color: #BDBDBD;
    padding: 10px;
}

.subtitulo-articulo {
    font-size: 12px;
    color: #848484;
}
    

}
