<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
{% load pwa %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'misPerris/css/style.css' %}">
        {% progressive_web_app_meta %}
        <title>Mis Perris</title>
    </head>
    <body>
        <header>
            <img src="{% static 'misPerris/img/logo.png' %}" alt="logo">
            <nav id="menu-principal">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="servicios">Servicios</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="cerrar-sesion?next=/">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="registro">Regístrate</a></li>
                        <li><a href="login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div id="contenedor-central">

            {% block content %}

		    {% endblock %}
        </div>

        <footer>
            <p>Desarrollo Web y Mobile</p>
        </footer>
    </body>
</html>