{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Regístrate en Mis Perris</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'misPerris/css/estilo.css' %}">
    
    <link rel="stylesheet" href="{% static 'misPerris/css/animate.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="{% static 'misPerris/js/validarRUT.js' %}"></script>    
    <script src="{% static 'misPerris/js/regionesComunas.js' %}"></script>
    <script src="{% static 'misPerris/js/validacion.js' %}"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Formulario de registro</h1>
        </div>
    </header>
    <div class="container-fluid main">
        <form id="form" method="POST" class="form-horizontal">{% csrf_token %}
            <br>
            <div class="form-group">
                <label class="control-label col-md-2" for="correo">Correo:</label>
                <div class="col-md-10">
                    <input class="form-control" type="email" name = "correo" required placeholder="hola@gmail.com" id="correo">
                </div>                
            </div>            
            
            <div class="form-group">
                <label class="control-label col-md-2" for="rut">Rut</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="rut" name="run" required maxlength="10" oninput="checkRut(this)" placeholder="12345678-K">
                </div>        
            </div>


            <div class="form-group">
                <label class="control-label col-md-2" for="password">Usuario</label>
                <div class="col-md-10">
                    <input class="form-control" requiered type="text" id="password" name="username">
                </div>        
            </div>



            <div class="form-group">
                <label class="control-label col-md-2" for="password">Contraseña</label>
                <div class="col-md-10">
                    <input class="form-control" requiered type="password" id="password" name="password">
                </div>        
            </div>


            <div class="form-group">
                <label class="control-label col-md-2" for="nombre">Nombre Completo:</label>
                <div class="col-md-10">
                    <input class="form-control" required pattern="[A-Za-z ]+" placeholder="Francisco Javier Echenique Lisperguer" type="text"
                     name= "nombre" id="nombre">
                </div>                
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Fecha de Nacimiento:</label>
                <div class="col-md-10">
                    <input class="form-control" required type="date" max="2000-12-31" name="fNacimiento" id="fechaNacimiento">
                </div>                
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="telefono">Telefono</label>
                <div class="col-md-10">
                    <input class="form-control" required placeholder="987654321" type="tel" pattern="[0-9]{9}" name="fono" id="telefono">
                </div>                
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="regiones">Región:</label>
                <div class="col-md-10">
                    <select class="form-control" name = "region" id="regiones"></select>
                </div>                
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ciudad:</label>
                <div class="col-md-10">
                    <select class="form-control" name = "ciudad" id="comunas"></select>
                </div>                
            </div>      
            
            <div class="form-group">
                <label class="control-label col-md-2">Tipo de Vivienda</label>
                <div class="col-md-10">
                    <select name = "tipoVivienda" class="form-control" id="opcion">
                        <option value="Casa con patio grande">Casa con patio grande</option>
                        <option value="Casa con patio pequeño">Casa con patio pequeño</option>
                        <option value="Casa sin patio">Casa sin patio</option>
                        <option value="Departamento">Departamento</option>                
                    </select>
                </div>                
            </div>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <button type="submit" class="btn btn-primary color">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div class="container" id="uno"> 
            <img class="img-responsive" src="{% static 'misPerris/img/perro.png' %}" alt="">
        </div>
    </footer>
</body>
</html>