<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
{% load pwa %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'misPerris/css/style.css' %}">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'misPerris/css/nav.css' %}">    
        {% progressive_web_app_meta %}
        <title>Mis Perris</title>
    </head>
    <body>
        <header>
            <nav id="menu-principal" class = "navbar    navbar-default">
                                  <div class="navbar-header">
                                              <img src="{% static 'misPerris/img/logo.png' %}" alt="logo">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        </div>
                                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class = "nav navbar-nav">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="servicios">Servicios</a></li>
                    <li><a href="servicios">Servicios</a></li>
                    <li><a href="cerrar-sesion?next=/">Cerrar Sesión</a></li>
                </ul>
                </div>
            </nav>
        </header>
        <div id="contenedor-central">
   <!-- #region Jssor Slider Begin -->
    <!-- Generator: Jssor Slider Maker -->
    <!-- Source: https://www.jssor.com -->
    <script src="{% static 'misPerris/js/jssor.slider-27.5.0.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_SlideshowTransitions = [
              {$Duration:800,$Opacity:2}
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            <div>
                <img data-u="image" src="{% static 'misPerris/img/Duque.jpg' %}" />
            </div>
            <div>
                <img data-u="image" src="{% static 'misPerris/img/Apolo.jpg' %}" />
            </div>
            <div>
                <img data-u="image" src="{% static 'misPerris/img/Tom.jpg' %}" />
            </div>
            
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
    <!-- #endregion Jssor Slider End -->
			<div id="contenedor-info">
			<p>+ 56 9 23564552 </p>
			<p>Rescate y adopción de perros callejeros </p>

                <div id="redes-sociales">
                    <a href="#"><img src="{% static 'misPerris/img/facebook.png' %}" alt="facebook"></a>
                    <a href="#"><img src="{% static 'misPerris/img/google+.png' %}"  alt="google+"></a>
                    <a href="#"><img src="{% static 'misPerris/img/digg.png' %}" alt=""></a>
                    <a href="#"><img src="{% static 'misPerris/img/rss.png' %}"  alt=""><a href="#"></a> 
				</div>
			</div>
			 </div>
        
        <div id="contenido">
		<div id="articulos">
            <section id="part1">
                <article>
                    <h2 class="titulo-articulo">RESCATE</h2>
                    <h3 class="subtitulo-articulo">ETAPA UNO</h3>
                    <br>
                    <div class="separador"></div>
                    <br>
                    <p class="cuerpo-articulo">
                    Rescatamos perros en situacion de peligro y/o abandono. 
                    Los rehabilitamos y los preparamos para buscarles un
                    hogar 
                    </p>
                    <br>
                    <img src="{% static 'misPerris/img/perro.jpg' %}" alt="perrito nanai">
                </article>
            </section>

            <section id="part2">
                    <article>
                        <img src="{% static 'misPerris/img/comida.jpg' %}" alt="">
                        <br>
                        <h2 class="titulo-articulo">CROWDFUNDING</h2>
                        <h3 class="subtitulo-articulo">FINANCIAMIENTO</h3>
                        <br>
                        <div class="separador"></div>
                        <br>
                        <p class="cuerpo-articulo">Sigue nuestras redes sociales 
                            para informarte acerca de las diversas
                            campañas y actividades que realizamos
                            para obtener financiamiento para seguir
                            ayudando
                        </p>
                        <br>
                        <a href="#">CAMPAÑAS</a>
                    </article>
                </section>
				</div>

                <section id="part3">
                    <div id="imagenes1">
                        <a href="doginfo1.html" target="_blank"><img src="{% static 'misPerris/img/Oso.jpg' %}" alt="Oso"></a>
                            <a href="doginfo2.html" target="_blank"><img src="{% static 'misPerris/img/Maya.jpg' %}" alt="Maya"></a>
                                <a href="doginfo3.html" target="_blank"><img src="{% static 'misPerris/img/Wifi.jpg' %}" alt="Wifi"></a>

                    </div>
                    <div id="imagenes2">
                        <a href="doginfo4.html" target="_blank"><img src="{% static 'misPerris/img/Chocolate.jpg' %}" alt="Chocolate"></a>
                        <a href="doginfo5.html" target="_blank"><img src="{% static 'misPerris/img/Pexel.jpg' %}" alt="Pexel"></a>
                    </div>
                    <div id="imagenes3">

                        <a href="doginfo6.html" target="_blank"> <img src="{% static 'misPerris/img/Bigotes.jpg' %}" alt="Bigotes"></a>
                            <a href="doginfo7.html" target="_blank"> <img src="{% static 'misPerris/img/Luna.jpg' %}" alt="Luna"> </a>
                    </div>
                </section>
        </div>

        <footer>
            <p>Desarrollo Web y Mobile</p>
        </footer>
    </body>
</html>