{% load static %}
{% load my_templatetag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de perros</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="{% static 'misPerris/css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'misPerris/css/animate.css' %}">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="{% static 'js/validacion.js' %}"></script>
</head>
<body>    
    <header>
                <a class = "btn btn-secondary btn-lg" href="/servicios">Regresar</a>
        <div class="container">
            <img src="{% static 'misPerris/img/logo.png' %}" alt="logo" class="col-md-6">
            {% if request.user|has_group:"moderador" %}
            <h1 class="col-md-5 col-md-offset-1">Lista de perros</h1>
            {% else %}
            <h1 class="col-md-5 col-md-offset-1">Lista de perros disponibles</h1>
            {% endif %}
        </div>
    </header>
    <div class="container-fluid main">
    {% if request.user|has_group:"moderador" %}
            <ul>
                    {% for perro in todos %}
                        <li>
                            <h3>Nombre mascota: {{ perro.nombre }}</h3>
                            <a href="{% url "perris:detail" perro.id %}">Ver</a>
                            <a href="{% url "perris:edit" perro.id %}">Editar</a>
                            <a href="{% url "perris:delete" perro.id %}">Borrar</a>
                        </li>
                    {% endfor %}
                </ul>
    {% else %}
        <ul>
            {% for perro in disponibles %}
        <li>
            <p>Nombre mascota: {{ perro.nombre }}</p>
            <a href="#">Adoptar</a>
        </li>
    {% endfor %}
        </ul>
    {% endif %}

    </div>
   
</body>
<footer>
        <div class="container" id="uno"> 
            <img class="img-responsive" src="{% static 'misPerris/img/perro.png' %}" alt="">
        </div>
</footer>
</html>