{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

                <!-- Latest compiled and minified JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                
                <link rel="stylesheet" href="{% static 'misPerris/css/estilo.css' %}">
                <link rel="stylesheet" href="{% static 'misPerris/css/animate.css' %}">
            
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
                <script src="{% static 'js/validacion.js' %}"></script>
</head>
<body>
        <header>
                <a class "btn btn-secondary btn-lg" href="{% url "perris:list" %}">Regresar</a>
                <div class="container">
                    <img src="{% static 'misPerris/img/logo.png' %}" alt="logo" class="col-md-6">
                    <h1 class="col-md-5 col-md-offset-1">Editar Rescatado</h1>
                </div>
            </header>
            <div class="container-fluid main">
                    <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-primary color col-md-6 col-md-offset-3" type="submit" value="Actualizar" />
                        </form>
            </div>
    
    <footer>
            <div class="container" id="uno"> 
                <img class="img-responsive" src="{% static 'misPerris/img/perro.png' %}" alt="">
            </div>
    </footer>
</body>
</html>