{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            
            <link rel="stylesheet" href="{% static 'misPerris/css/estilo.css' %}">
            <link rel="stylesheet" href="{% static 'misPerris/css/animate.css' %}">
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
            <script src="{% static 'js/validacion.js' %}"></script>
</head>
<body>
        <header>
                <div class="container">
                    <img src="{% static 'misPerris/img/logo.png' %}" alt="logo" class="col-md-6">
                    <h1 class="col-md-5 col-md-offset-1">Detalles Rescatado</h1>
                </div>
            </header>
    <div class="container-fluid main">
            <h1>{{ perro.nombre }}</h1>
            <img  class="img-responsive col-md-6 .col-md-offset-3" src="media/{{ perro.foto }}" alt="">
            <h3>Raza: <i>{{ perro.raza }}</i></h3>
            <h3>Descripcion: <i>{{ perro.descripcion }}</i></h3>
            <h3>Estado: <i>{{ perro.get_estado_display }}</i></h3>
            <h3>
                <a href="{% url "perris:list" %}">Regresar</a>
            </h3>
    </div>
</body>
</html>