{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'misPerris/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'misPerris/css/animate.css' %}">
    <title>Subir perros</title>
</head>
<body>
    <header>
                <a class = "btn btn-secondary btn-lg" href="/servicios">Regresar</a>
        <div class="container">
            <h1>Registro de mascotas</h1>
        </div>
    </header>
    <div class="container-fluid main">
    <form method="POST" class="post-form form-horizontal" enctype='multipart/form-data' >{% csrf_token %}
        
       <div class="form-group">
            <label for="foto" class="control-label col-md-2">Foto:</label>
            <div class="col-md-10">
                <input class="form-control-file" required type="file" name="foto" accept="image/*">
            </div>
        </div>
        <br>
       <div class="form-group">
            <label for="nombre" class="control-label col-md-2">Nombre:</label>
            <div class="col-md-10">
                <input required class="form-control" placeholder="Tomy" type="text" name="nombre">
            </div>
        </div> 
        <div class="form-group">
            <label class="control-label col-md-2" for="descripcion">Descripción:</label>
            <div class="col-md-10">
                <input required class="form-control" placeholder="Juguetón, pequeño..." type="text" name="descripcion">
            </div>
            </div> 
       <div class="form-group">
            <label class="control-label col-md-2" for="raza">Raza:</label>
            <div class="col-md-10">
                <input required class="form-control" placeholder="Poodle" type="text" name="raza">
            </div>
        </div> 
        <div class="form-group">
            <label class="col-md-2 control-label" for="estado">Estado:</label>
            <div class="col-md-10">
                <select required class="form-control" name="estado">
                <option value="R">Rescatado</option>
                <option value="D">Disponible</option>
                <option value="A">Adoptado</option>
                </select>
            </div>
        </div>
 
        <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <button type="submit" class="btn btn-primary color">Enviar</button>
                </div>
            </div>
    </form>
</div>
<footer>
        <div class="container" id="uno"> 
            <img class="img-responsive" src="{% static 'misPerris/img/perro.png' %}" alt="">
        </div>
    </footer>
</body>
</html>